
/*                   intro                          */








/*                  links                          */



.internal_page_links{
    position: relative;
    width: 100%;
}

.links_wrapper {
    max-width: 1600px;
    position: relative;
    padding: 30px;
    z-index: 900;
    margin: 0 auto;
    white-space: nowrap;
}







.video_section{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.video_wrapper{
    position: relative;
    max-width: 1800px;
    display: flex;
    justify-content: center;
}
.video_container{
    position: relative;
    height: 80vh;
    width: 30vw;
    overflow: hidden;
}




.specialising{
    position: relative;
    width: 100vw;
}
.specialising p{
    text-align: center;
    padding: 30px;
}
.specialising_header{
    position: relative;
    width: 100%;
}





.carousel{
    position: relative;
    width: 100vw;
}
.carousel_top{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 60px 30px;
}
.text_right{
    text-align: right;
}

.swiper_container{
    position: relative;
    width: 100vw;
}
.swiper{
    width: 100%;
}

.carouselImg_container{
    width: 550px;
    height: 700px;
    margin: 0;

}
.carouselImg_container_small{
    height: 550px;
    margin: 100px 0;}


.carouselImg{
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
}















.banner{

}





.colophon{
    height: 65vh;
}

.hg{
    height: 100vh;
}


