.introduction{
    position: relative;
    width: 100%;
    height: 125vw;
}
.backgroundImg{
    width: 100%;
    height: 100%;
}
.header{
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 15vh;
}
.text{
    position: absolute;
    bottom: 0;
    max-width: 350px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    margin: auto auto 30px;
}
.h_container{
    text-align: center;
    vertical-align: middle;
    margin: 0;
    overflow: hidden;
}
.h2_container{
}


@media screen and (max-width: 768px) {
    .introduction{
        height: calc( 100vh + 125px);
    }

    .text{
        position: absolute;
        bottom: 0;
        max-width: 1920px;
        text-align: center;
        left: 0%;
        transform: translate(-0%);
        margin: auto auto 30px;
    }
}