.links_container{
    position: relative;
    width: 100%;
    margin: auto;
}
.link{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    overflow: hidden;
}
.link h1{
    text-align: center;
    margin: 0 0 0 30px;
}
.arrow_container{
    overflow: hidden;
}
.arrow{
    width: auto;
    height: 7vw;
    margin: 0 0 0 70px;
    transition: transform 1.25s ease;
}