@import "../fonts/SilkSerif/stylesheet.css";

body, html {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: fit-content;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Inter,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 1;
    --color1: #F2D6BD;
    --color2: #A65A53;
    --color3: #F28D77;
    --color4: #7D658C;
    --color5: #D98BA7;
    color: var(--color1);
    background: var(--color2);
}
::selection{
    background: var(--color2);
}
*, *:after, *:before{
    box-sizing: inherit;
}
a{
    position: relative;
    color: var(--color1);
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

.wrapper{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: fit-content;
}
.link{

}
.link::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color1);
    opacity: .2;
}
.link::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--color1);
    transition: width 0.75s ease;
}
.link:hover::after{
    width: 100%;
}

.h1, .h2{
    font-family: "Silk Serif";
    font-style: italic;
    font-size: 10vw;
    line-height: .8;
    letter-spacing: .5vw;
    font-weight: 200;
    margin:  0;
    text-transform: uppercase;
    color: var(--color1);
    display: inline-block;
    vertical-align: middle;
}
.h2{
    font-size: 6vw;
}
p{
    text-transform: uppercase;
    font-weight: 500;

}
.start{
    justify-content: flex-start;
}
.center{
    justify-content: center;
}
.end{
    justify-content: flex-end;
}

.spacer{
    position: relative;
    height: 200px;
    background: var(--color2);
    z-index: 0;
}


.video video{
    position: relative;
    width: 100%;
    height: 100%;
}





.floating_cursor{
    position: fixed;
    z-index: 10;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
}
.cursor_data{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    line-height: 0;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.cursor_arrows{
    position: absolute;
    top: 0;
    left: 0;
    width: 135px;
    height: 135px;
    opacity: 0;
}
.cursor_left, .cursor_right{
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(0,-50%);
    background-image: url("../images/arrow_small.svg");
    background-size: contain;
    background-position: center;
}
.cursor_left{
    left: 25px;
}
.cursor_right{
    right: 20px;
    transform: translate(-50%,-50%) rotate(180deg);
}



@media all and (max-width: 768px) {
    .h1, .h2{
        font-size: 11vw !important;
        letter-spacing: .25vw;
        line-height: 1;
    }
}

@media all and (min-width: 2000px) {
    .h1, .h2 {
        font-size: 180px !important;
    }
}



